{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
 

    <section>
        <div class="hp-container"> 
            <div class="hp-content">
                <div class="hp-inner">
                    <h2>{{self.service.title}}</h2>
                    {{self.service.text|safe}}
                    <a href="{% slugurl self.service.slug %}" class="fac-link float-right">Details</a><br>
                    <div class="hp-tabs">
                        <ul class="hp-nav">
                            {% for tab in self.service.getTabs  %}
                            {% image tab.image scale-100 as img %}
                            {% if forloop.counter == 1 %}
                            <li class="hp-nav-link">
                                <a class="active" id="nav-tab-{{tab.id}}" onclick="RoomImg('{{img.url}}', '{{tab.id}}','{{self.service.slug}}')" data-toggle="tab" href="#tab{{tab.id}}" role="tab" aria-controls="tab-{{tab.id}}"  aria-selected="true"><i class="fas fa-th"></i> {{tab.title}} </a>
                            </li>
                            {% else %}
                            <li class="hp-nav-link">
                                <a  id="nav-tab-{{tab.id}}" onclick="RoomImg('{{img.url}}' , '{{tab.id}}','{{self.service.slug}}')" data-toggle="tab" href="#tab{{tab.id}}" role="tab" aria-controls="tab-{{tab.id}}" aria-selected="true"><i class="fas fa-th"></i> {{tab.title}} </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="hp-tab-content" id="hp-ariaTabsContent">
                            {% for tab in self.service.getTabs  %}
                            
                            <div class="hp-tab-pane fade {{self.service.slug}} {% if forloop.counter == 1 %}show active{% else %} hp-none {% endif %}" id="tab-{{tab.id}}" role="tabpanel" aria-labelledby="tab-{{tab.id}}">
                                {{tab.text|safe}}
                            </div>
                            
                            {% endfor %} 
                        </div>

                    </div>
                </div>  
            </div>
           
        </div>
        <div class="hp-resim">
            {% for tab in self.service.getTabs %}
            {% if forloop.counter == 1 %}
            {% image tab.image scale-100 as img %}
            <img class="hp-image {{self.service.slug}}" id="hp-image" src="{{img.url}}" alt="{{img.alt}}">
            {% endif %}
            {% endfor %}
        </div>
    </section>
    
    
    