{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          {% for slide in self.slider_images.all  %}
          {% image slide.image fill-1920x1080 as img %}

          <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
            <img src='{{ img.url }}' class="d-block w-100 vh-100 obj-fit-cover" alt="{{img.alt}}">
            <div class="carousel-caption d-none d-md-block carousel-caption-center">
                <h3>{{slide.title}}</h3>
                <p class="hero-paragraph">{{slide.text|safe}}</p>
              </div>

          </div>
          
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
    <!-- Intro -->

    
    <div class="container-fluid p-3 covid-warning" >
        <div class="row pt-3 pb-3 container intro-block ">
           <div class="col-lg-12 p-1">
               <h1 class="sec-title"> {{self.introTitle}} <span id="collapse-btn"><i class="fas fa-chevron-down"></i></span></h1>
           <div class="covid-notice">
            {{self.introText|safe}}
           </div>  
           </div>
           </div>
    </div>   
       <!-- end of Intro -->
       <!--Stream BLocks-->
       <div class="hp-wrapper">
       {% for block in page.content %}
       {% include_block block %}
         
       {% endfor %}
    </div>
       <!--end of Stream BLocks-->
       <!-- Testimonials -->
    <div class="slider">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  
                  <h2>Testimonials</h2>
                  <p class="w-75">Some words from our satisfied customers.</p>
                  <br><br>
                  
              </div> <!-- end of col -->
          </div> <!-- end of row -->
          <div class="row">
              <div class="col-lg-12">

                  <!-- Card Slider -->
                  <div class="slider-container">
                      <div class="swiper-container card-slider">
                          <div class="swiper-wrapper">
                              
                              <!-- Slide -->
                              {% for review in self.reviews  %}
                              {% image review.avatar_image scale-100 as img %}
                              <div class="swiper-slide">
                                  <div class="card">
                                      <img class="card-image" src='{{img.url}}' alt="{{img.alt}}">
                                      <div class="card-body">
                                          <div class="testimonial-text">{{review.comment}}</div>
                                          <div class="testimonial-author">{{review.name}}-{{review.company}}</div>
                                        </div>
                                  </div>
                              </div>
                              {% endfor %}
                               <!-- end of swiper-slide -->
                              <!-- end of slide -->
      
                              
                          </div> <!-- end of swiper-wrapper -->
      
                          <!-- Add Arrows -->
                          <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div>
                          <!-- end of add arrows -->
      
                      </div> <!-- end of swiper-container -->
                  </div> <!-- end of sliedr-container -->
                  <!-- end of card slider -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
          <div class="review-form">
            <h2>Leave a comment</h2>
            <form method="POST" action="/formpost/" id="review" enctype='multipart/form-data'  >
            {% csrf_token %}
                {{self.reviewForm.as_p}}
                <input type="hidden" value="review" name="id">
                <button type="submit" class="btn btn-info mb-3">
                    Submit
                </button>
            </form>
        </div>
        </div> <!-- end of container -->
        
      </div> <!-- end of slider -->
      <!-- end of testimonials -->
      <!-- Call Me -->
    <div id="callMe" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CALL ME</div>
                        <h2>{{contactPage.contactFormTitle}}</h2><br>
                    <p>{{contactPage.contactFormContent}}</p><br>
                        <ul class="list-unstyled li-space-lg contact-form-list">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>{{settings.home.GeneralSettings.address}}</li>
                            <br>
                            <li><i class="fas fa-phone"></i><a href="tel:{{settings.home.GeneralSettings.phone}}">{{settings.home.GeneralSettings.phone}}</a></li>
                            <br>
                            <li><i class="fas fa-envelope"></i><a href="mailto:{{settings.home.GeneralSettings.email}}">Click To Mail</a></li>
                        </ul>
                        </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                   
                    <!-- Call Me Form -->
                    <form method="POST" action="/formpost/" id="contact" class="contact-form">
                        
                        {% csrf_token %}
                        {{self.contactForm.as_p}}
                        <input type="hidden" value="contact" name="id">
                        
                        <button type="submit" class="btn btn-info mb-3">
                            Submit
                        </button>  
                            
                    </form>
                    <!-- end of call me form -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of  -1 -->
    <!-- end of call me -->

      
{% endblock content %}